extends patient_layout

block header
  link(rel='stylesheet', href='https://code.s4d.io/widget-space/production/main.css')

block content
  script(src='https://code.s4d.io/widget-space/production/bundle.js')
  script(type='text/javascript').
    var access_token = "#{access_token}";
    var destination_id = "#{destination}";
    var destination_type = "#{destination_type}";
  script(src='/javascripts/meet.js')
  #webex
