doctype html
html
  head
    title Cisco Webex Telehealth Portal
    link(rel='stylesheet', href='/stylesheets/patient.css')
    block header
  body
    script(src='/javascripts/jquery.min.js')
    .header
      a(href='/patient/register')
        img(src='/media/patient_header.png')
    .container
      block content
